/** EDUCLOUD DASHBOARD THEMING & STYLES */

/** IMPORT FONT FAMILIES */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden;
  background-color: #f5f6f7;
}

main {
  padding: 1rem;
}

h1, h2 {
  color: black;
  font-family:  'Roboto', sans-serif;
}

h3 {
  padding-bottom: 2rem;
  color: #000105;
  font-size: 1.8rem;
  font-family:  'Exo', sans-serif;
}

button {
  padding: 16px 8px;
  width: 100%;
  margin-top: 12px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #808080;
  color: #f8f8f8;
}

.btn-disabled {
  background-color: lightgray;
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 9px 0;
  padding: 16px 8px;
  color: #000105;
  border: 1px solid lightgray;
}

.li-hover:hover {
  background-color: #d8d8d8;
  columns: #fff;
}

.li-selected {
  color: #fff;
  background-color: #000925;
}

.container {
  max-width: 740px;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.quiz-container {
  background-color: #ffff;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 4px;
  border-radius: 30px;
}

.container p {
  padding: 8px 0;
}

.constiner{
    width: 85%;
    margin: auto;
}